@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset de base */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Montserrat', sans-serif;
}

